*.qws
*.rpt
*/db
*/incremental_db
*/output_files
*/simulation/*
!*/simulation/*.v
!*/simulation/*.txt

t2a_uart/*/db
t2a_uart/*/incremental_db
t2a_uart/*/output_files
t2a_uart/*/simulation/*
!t2a_uart/*/simulation/*.v
!t2a_uart/*/simulation/*.txt